@import url('https://fonts.googleapis.com/css?family=Inter');

.form {
    margin: auto;
    width: 85%;
    background-color: white;
}
.art-contest {
    width: 80%;
    margin: auto;
    padding: 30px 0px 0px 0px;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #8C97A4;
}

.img-upload-div {
    margin: auto;
    width: 80%;
}

.contest-img {
    height: 300px;
    border-radius: 10px;
    width: 300px;
    background-color: aquamarine;
    text-align: center;
}

h1 {
    padding: 70px 0px 0px 0px;
    left: 80px;
}

hr {
    margin: auto;
    width: 80%;
    border: 1px solid #8BC7FF;
}

/* from */
::placeholder {
    color: #8BC7FF;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    font-size: 16px;
    height: 34px;
    padding-left: 10px;
    margin: auto;
    padding-right: 10px;
    border-radius: 8px;
    background-color: white;
}

/* from */

.contest-div {
    display: flex;
}

.from-field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
}

label {
    color: #1375E4;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Inter';
}

input {
    border: 1px solid #8BC7FF;

}
.city-pin {
    flex: 1;
    display: flex;
    flex-direction: row;
}

 @media(max-width:600px) {
    .city-pin {
        flex: 1;
        display: flex;
        flex-direction: row;
    }
    .contest-div {
        display: block;
        flex-direction: column;
    } 
} 
.proceed {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    margin-top: 30px;
}

.pushable {
    width: 100%;
}

.pera{
   margin: auto; 
   width: 80%;
   margin-top: 20px;
}
.fas {
    color: red;
}

.sapne-waali {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sapne-waali a {
    font-family: 'Mochiy Pop One';
    color: #1375E4;
    margin-top: 5%;
    font-size: 18px;
}

